div.component {
  margin: 20px;
  padding: 20px;
  background-color: #e4e4e4;
  border-radius: 24px;
}

h4 {
  margin-bottom: 20px;
}

table.needs-y-scroll {
  overflow-y: scroll;
}

.page {
  width: 100%;
  height: fit-content;
}

.form-group-checkbox {
  text-align: center;
}

input:read-only {
  pointer-events: none;
}